// Override this file to add your own SCSS styling.
/*************************************************
 *  custom additions
 **************************************************/
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.callout {
	font-size: 1.15em;
}

.summary-text {
  line-height: 1.55;
  font-size: 1.05em;
}

/*************************************************
 *  Change from assets/scss/academic/_root.scss
 **************************************************/
.hero-title {
  color: #E1E1E1;
}

p#hero-lead {
  color: #414141;
}

/*************************************************
 *  Change From assets/scss/academic/_nav.scss
 **************************************************/
 .navbar {
   font-size: 0.9em;
 }

.navbar-brand img {
	 max-height: 40px;
}
