// Override this file to add your own SCSS styling.
/*************************************************
 *  custom additions
 **************************************************/
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.callout {
	font-size: 1.15em;
}

.summary-text {
  line-height: 1.55;
  font-size: 1.05em;
}

blockquote p {
	font-size: 1.3em;
}

.author-highlighted {
  font-size: 1.1em;
  font-weight: 800;
}

footer .powered-by {
    font-size: .9rem;
}  
/*************************************************
 *  Change from assets/scss/academic/_root.scss
 **************************************************/
.hero-title {
  color: #E1E1E1;
}

p#hero-lead {
  color: #414141;
}

/*************************************************
 *  Change From assets/scss/academic/_nav.scss
 **************************************************/
 .navbar {
   font-size: 0.9em;
 }

.navbar-brand img {
	 max-height: 40px;
}

/*************************************************
 *  Change From assets/scss/academic/_widgets.scss
 **************************************************/
.wg-hero.dark .hero-note > * {
  color: #FAFAFA;
  /*text-shadow: 1px 1px 4px rgba(0,0,0,0.5);*/ /* Uncomment to standout on complicated backgrounds. */
}

.wg-hero.dark a:not(.wg-hero .btn) {
  color: #FAFAFA;
}

/*************************************************
 *  Alert box for projects
 **************************************************/

div.alert-synopsis > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 0;
  color: #ff3860;
  content: '';
}

div.alert-synopsis > div {
  margin-left: 0.1rem;
}

.alert-synopsis {
	color: #34495EFF;
	font-family: 'Nunito Sans';
	background-color: #F2F2F2FF;
	border-color: #7c7c7cFF;
	border-radius: 15px;
	/*border-left-width: 30px;*/
	margin-bottom: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: -1rem;
}
